/*font */
*{
background-color: black;
}
@font-face {
    font-family:"Raleway-regular" ;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family:"Raleway-medium" ;
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family:"Raleway-bold" ;
    src: url(../fonts/Raleway-Bold.ttf);

}
@font-face {
    font-family:"Raleway-semibold" ;
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family:"Raleway-extrabold" ;
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family:"Raleway-black" ;
    src: url(../fonts/Raleway-Black.ttf);
}
/* colors */
:root{
    --primary:#FFD700;
    --secondary:#6495ED;
    --ternery:#9FE2BF;
    --danger:#CCCCFF;
    --pure:#808000;
    --light:#808080;
    --heaven:#FFFFFF;
    --footer:#008080;
    --blakish:#000000;

}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* screen alignment*/
body{
    -webkit-font-smoothing:antialiased;

}
/*taking screen space*/
/* .container{
    width:100%;
    padding:0 15px;
    margin:0 auto;
} */
/* @media(min-width:576px){
    .container{ 
        max-width:540px;
    }
}
@media(min-width:768px){
    .container{
        max-width:720px;
    }
}
@media(min-width:992px){
    .container{
        max-width:960px;
    }
}
@media(min-width:1200px){
    .container{
        max-width:1100px;
    }
} */
/*coloring text and icons */
header.topbar{
    background:var(--blakish);
    color:var(--heaven);
    font-family:"Raleway-semibold";
    padding:0.75rem 0;
}
header.topbar .auth > div a{
    color:var(--heaven);
    text-decoration: none;
}
header.topbar .icons a{
    margin-right: 0.6rem;
}
header.topbar .auth .divider{
    padding:0 1rem;
}
header.topbar .auth > div img{
    margin-right: 0.35rem;
}
nav .top{
    padding: 1.0rem 0;
}
nav .top .contact img{
    margin-right: 0.6rem;
}
nav .top .time img{
    margin-right: 0.6rem;
}
nav .top .contact h5{
    font-family:"Raleway-black";
    margin-bottom: 0.15rem;   
}
nav .top .contact h6{
    font-family:"Raleway-medium";
    letter-spacing: 0.065rem;
    font-size: 0.75rem;
    color: var(--footer);
}
nav .top .time h5{
    font-family:"Raleway-black";
    margin-bottom: 0.15rem;
}
nav .top .time h6{
    font-family:"Raleway-medium";
    letter-spacing:0.065rem;
    font-size: 0.75rem;
    color: var(--footer);
}

.flex{
    display:flex;
}
.justify-between{
    justify-content:space-between;
}
.items-center{
    align-items:center;
}
.justify-center{
    justify-content: center;
}
nav .navbar a{
    text-decoration: none;
    font-family:"Raleway-bold"; 
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
}
nav .navbar a.active{
    background:var(--primary);
    color:white;
    border-radius: 10px;
}
nav .navbar a:hover{
    background:var(--primary);
    color:var(--light);
    border-radius: 10px;
}
/* .magiic-shadow{
    position:relative;
}
.magiic-shadow::after{
    content:'';
    display:block;
    width: 100%;
    height: 69px;
    background-image:url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position:center ;
    position: absolute;
    bottom:-24px;
    z-index:-1;

} */
.magiic-shadowk{
    position:relative;
    background:var(--heaven);
}
.magiic-shadowk::after{
    content:'';
    display:block;
    width: 100%;
    height:69px;
    background-image:url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position:center ;
    position: absolute;
    bottom:-25px;
    z-index:-1;
    left:50%;
    transform:translateX(-50%);
}
header.hero{
    height:500px;
    background-image:url(../images/hero.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    overflow:hidden;
    
}
/* header.hero .container{
position: relative;
} */
header.hero .welcome{
    margin-bottom:1.3rem ;
}
header.hero .welcome span{
    font-family:"Raleway-bold";
    color:var(--blakish);
    margin-right:0.75rem;
}
header.hero h1{
    font-family:"Raleway-extrabold" ;
    color:var(--blakish);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}
header.hero h1 span{
    color:#FFBF00;
}
header.hero p{
    font-family: "Raleway-medium";
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
} 
.btn{
    padding: 0.85rem 0.75rem;
    border-radius:4px;
    line-height:0.8;
    font-size:1.2rem;
    cursor:pointer;
    transition: all 0.3s ease;
    border:1px solid transparent;
}
.btn-primary{
    background:var(--primary);
    color:#FFFFFF;
}
.btn-primary:hover{
    background:#FFFFFF;
    color:var(--blakish);
    border:1px solid var(--blakish);
}
.btn-secondary{
    background:var(--blakish);
    color:#FFFFFF;
}
.btn-secondary:hover{
    background:#FFFFFF;
    color:black;
    border:1px solid black;
}
header.hero >div button {
    margin-right: 0.75rem;
    
}
section{
    padding:4rem 0;
}
section.top-product{
    background:var(--ternery);

}
.section-heading{
    font-family:"Raleway-bold";
    text-align: center;
    position:relative;
    margin-bottom: 8rem;
}
.section-heading:after{
    content:'';
    display:block;
    width:100%;
    height:30px;
    background-image:url(../icons/hr.svg) ;
    background-repeat:no-repeat ;
    background-position:center;
    position: absolute;
    bottom:-40px;
}
section.top-product .food-slider .food-card{
    background:#FFFFFF;
    padding: 1.5rem 0;
    border-radius:4px;
}
section.top-product .food-slider .food-card .product-image img{
 width:80%;
 height:200px;
 object-fit: contain;
 padding-bottom: 1rem;
}
hr{
    border:1px solid var(--secondary);
    opacity: 0.8;
    margin:1rem 0;
}
section.top-product .food-slider .food-card h2{
    font-family:"Raleway-bold";
    font-size: 1.3rem;
    margin-bottom:0.25rem;
}
.text-center{
    text-align: center;
}
section.top-product .food-slider .food-card .stars img{
    margin-right: 0.25rem;
}
section.top-product .food-slider .food-card .stars{
    margin-bottom:0.5rem;
}

section.top-product .food-slider .food-card .price{
    font-family: "Raleway-medium";
    color:red;
    margin-bottom:1rem;
}
section.top-product .food-slider .food-card button{
    font-family: "Raleway-medium";
    color: var(--blakish);
    background:mistyrose;
    border: 2px solid var(--primary);
    border-radius: 4px;
    display: flex;
    align-items:center;
    width: 50%;
    font-size:1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border:1px solid transparent;
}
.food-slider .food-card button img{
    background:var(--primary);
    padding:0.50rem;
    height:32px;
    margin-right:1.25rem;  
}
section.top-product .food-slider .food-card button:hover{
    background:var(--primary);
    color:aliceblue;
    border:1px solid var(--heaven);
}
.slick-slide{
    margin:0 27px;
}
.slick-list{
    margin: 0 27px;
}
.top-product .slider-btn{
    width:30px;
    height: 30px;
    border: none;
    background:var(--primary);
    border-radius:4px;
    cursor: pointer;
    outline: none;
}
.prev-btn{
    position: absolute;
    top: 46%;
    left:-3rem;
    z-index: 1;
}
.next-btn{
    position: absolute;
    top: 46%;
    right:-3rem;
    z-index: 1;
}
.top-product .slider{
    position: relative;
}
.top-product .btn-wrapper{
    margin-top: 2rem;
}
.slick-track{
    padding: 1rem 0;
}
section.about-meal img{
    width:85%;
    
}
.flex-p{
    flex:1;
}
section.about-meal h2{
    font-family:"Raleway-bold";
    margin-bottom: 1rem;
    font-size:1.4rem;
    line-height:1.3;
}
section.about-meal p{
    font-family:"Raleway-medium";
    margin-bottom: 4rem;
    color:darkblue;
    line-height: 1.7rem;
}
section.extra-part{
    background-color:lightblue;
    position:relative;
    z-index:0;
}
section.extra-part .our-services{
    margin-right:-2rem;
    margin-top: 8rem;
}
section.extra-part .delivery{
    background:#FFFFFF;
    text-align:center;
    padding: 1.5rem;
    padding-top:4rem;
    border-radius:4px;
    position: relative;
    margin-right:2rem;
    
}
section.extra-part .delivery img{
    position:absolute;
    top:-45px;
    left:50%;
    transform:translateX(-50%);   
}
section.extra-part .delivery h2{
    font-family:"Raleway-bold";
    font-size:1.3rem;
    margin-bottom:1rem;
}
section.extra-part .delivery h6{
    font-family:"Raleway-medium";
    font-size:0.75rem;
    line-height:1.6;
    margin-bottom:1rem;
}
.text-primary{
    color:var(--primary);
}
section.transparent .four-box{
 display: flex;
 align-items: center;
 justify-content:center;
 margin-right: -2rem;
 margin-bottom: 2rem;
}
section.transparent{
    background: linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
    ),url(../images/food-table.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}
section.transparent .four-box div{
    margin-right: 2rem;
    background:var(--primary) ;
    width:150px;
    height: 150px;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
section.transparent .four-box div span:first-child{
    font-family:"Raleway-semibold";
    font-size: 2.5rem;
    color:#FFFFFF;
    margin-bottom: 0.5rem;
}
section.transparent .four-box div span:last-child{
    font-family:"Raleway-medium";
    font-size: 1rem;
    color:#FFFFFF;

}
.text-pure{
    color:#FFFFFF;
}
section.lastest-news .news-card .donut img{
    width:100%;
}
section.lastest-news{
    background:lightgray;
    position:relative;
    z-index:-2;
}
section.lastest-news .news-card{
    margin-right: -1rem;
}
section.lastest-news .news-card .donut {
    margin-right:1rem;
    border-radius: 4px;
}
section.lastest-news .news-card .donut .meterial{
    background:var(--heaven);
    padding:2rem;
}
section.lastest-news .news-card .donut .date div span:first-child{
    margin-right: 1rem;
}
section.lastest-news .news-card .donut h2{
    font-family: "Raleway-semibold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.lastest-news .news-card .donut p{
    font-family: "Raleway-medium";
    font-size:1rem;
    line-height:1.6;
}
section.lastest-news .news-card .donut .meterial .date{
    margin-bottom:1rem;

}
section.lastest-news button{
    margin-top: 2rem;
}
section.subscribe{
    background:var(--primary);
    margin-right: -2rem;
}
section.subscribe .sub-portion{
    margin-right:2rem;
}
section.subscribe .sub-portion .sub-img img{
    width:90%;
}
section.subscribe .sub-portion h2{
    font-family:"Raleway-bold";
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
section.subscribe .sub-portion p{
    font-family:"Raleway-medium";
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}
section.subscribe .sub-portion .inputx{
    background:white;
    display:flex;
    height:50px;
    padding:0.3rem;
    border-radius: 4px;
}
section.subscribe .sub-portion .inputx input{
    width:100%;
    border:none;
    padding:0 1rem;
    font-size: 1rem;
    outline: none;
}
section.subscribe .sub-portion .inputx button{
    padding: 0.8rem 2rem;
    font-family:"Raleway-semibold";
    font-size: 1.1rem;
    border: none;
    background:var(--primary);
    cursor: pointer;
    color:white;
    transition:all 0.3s ease;
    outline:none;
}
section.subscribe .sub-portion .inputx button:hover{
    background:black;
}
section.map-contact{
    padding-top:0;
    padding-bottom:0;

}
section.map-contact .contact-wrapper{
    padding:4rem 0rem;
    flex: 1;  
}
section.map-contact .mapping{
    flex: 1;  
    filter: grayscale(100);
}
section.map-contact .contact-info >div >div{
    display:flex;
    align-items:center;
    margin-bottom:2rem;
}
section.map-contact .contact-info >div >div img{
    margin-right: 1rem;
}
section.map-contact .contact-info >div >div >div{
    display:flex;
    flex-direction:column;
}
section.map-contact .contact-info >div >div >div span:first-child{
    font-family:"Raleway-bold";
    margin-bottom: 0.5rem;
}
footer{
    background: black;
    padding: 4rem 0rem;
}
/* footer .container .last-boxes{ */
    /* display:flex; */
    /* color:#FFFFFF; */
/* } */
footer .last-boxes .boxp{
    flex:1;
    margin-right:2rem;
    text-align: center;
}
footer .last-boxes .instagramx img{
    width:100%;
    height:100%;
    object-fit: cover;
}
footer .last-boxes .boxp .photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .last-boxes .boxp .photo >div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom: 10px;
}
footer .last-boxes .boxp ul{
    list-style-type:none;
}
footer .last-boxes .boxp ul li a{
    color:white;
    text-decoration: none;
    transition: all 0.3s ease;
}
footer .last-boxes .boxp ul li a:hover{
    color: yellow;
}
footer .last-boxes .boxp h3{
    border-bottom: 1px solid yellow;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
footer .last-boxes .boxp p{
    font-family: "Raleway-medium";
    line-height: 1.6rem;
    margin-bottom: 1rem;
}
footer .last-boxes .boxp ul li{
    margin-bottom: 1rem;
}
footer .last-boxes .boxp:nth-child(3) > div{
    display:flex;
    justify-content: center;
}
footer .last-boxes .boxp:nth-child(3){
    text-align: left;
}
footer .last-boxes .boxp:nth-child(3) h3{
    text-align: center;
}
footer .last-boxes .boxp:nth-child(3) > div img{
    margin-right: 1rem;
}
footer .last-boxes .boxp:nth-child(3) ul li{
    margin-bottom: 1.5rem;
}
footer.copyright{
    padding: 1rem 0;
    background:var(--blakish);
    color:white;
    text-align: center;
}
footer.copyright >div a{
    color:var(--primary);
}